<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
	<select id="userSelectAll" parameterType="memberVO">
		select member_number, member_id, member_email, member_phone_number, member_name, member_grade, member_location
		from tbl_member = #{memberNumber}, #{memberId}, #{memberEmail}, #{memberPhoneNumber}, #{memberName}, #{memberGrade}, #{memberLocation}
	</select>


</mapper>