<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alba">
	<!--아르바이트 리스트를 최근 등록 순으로 정렬-->
	<select id="selectRegistration" parameterType="map" resultType="albaVo">
		select alba_number, alba_name, alba_location, alba_apply_start_date, alba_apply_end_date, alba_date, alba_view_count
		from tbl_alba
		order by alba_number desc
		limit #{startRow}, #{rowCount}
	</select>

	<!--아르바이트 리스트를 조회 순으로 정렬-->
	<select id="selectViewCnt" parameterType="map" resultType="albaVo">
		select alba_number, alba_name, alba_location, alba_apply_start_date, alba_apply_end_date, alba_date, alba_view_count
		from tbl_alba
		order by alba_view_count desc
		limit #{startRow}, #{rowCount}
	</select>
	
	<!--아르바이트 리스트를 최근 마감일 순으로 정렬-->
	<select id="selectEndDay" parameterType="map" resultType="albaVo">
		select alba_number, alba_name, alba_location, alba_apply_start_date, alba_apply_end_date, alba_date, alba_view_count
		from tbl_alba
		order by alba_apply_end_date
		desc limit #{startRow}, #{rowCount}
	</select>
	
	<!-- 아르바이트 전체 개수 -->
	<select id="selectCount" resultType="_int">
		select count(alba_number) from tbl_alba
	</select>
	
	<!-- 진행 중인 아르바이트 개수 -->
	<select id="selectProcess" parameterType="string" resultType="_int">
		select count(alba_number)  from tbl_alba where #{today} BETWEEN alba_apply_start_date AND alba_apply_end_date;
	</select>
	
	<!-- 조회수 -->
	<update id="updateViewCount" parameterType="_int">
		update tbl_alba 
		set alba_view_count = alba_view_count + 1 
		where alba_number = #{albaNumber} 
	</update>
	
	<!-- 클릭한 글 내용 조회 -->
	<select id="select" parameterType="_int" resultType="albaVO">
		select alba_number, alba_name, alba_location, alba_start_date, alba_end_date, 
		alba_start_time, alba_end_time, alba_fee, alba_apply_start_date, alba_apply_end_date, 
		alba_date, alba_recruited_count, alba_recruited_total_count, alba_view_count, 
		alba_phone_number, alba_image, member_number
		from tbl_alba where alba_number = ${albaNumber}
	</select>
	
	<!-- 알바 공고 글 농장주가 작성 -->
	<insert id="insertAlba" parameterType="albaVO">
		insert into tbl_alba
		(alba_name, alba_location, alba_start_date, alba_end_date, alba_start_time, alba_end_time, alba_fee, 
		alba_apply_start_date, alba_apply_end_date, alba_recruited_total_count, alba_phone_number, alba_image, member_number)
		values(#{albaName}, #{albaLocation}, #{albaStartDate}, #{albaEndDate}, #{albaStartTime}, #{albaEndTime}, #{albaFee}, 
		#{albaApplyStartDate}, #{albaApplyEndDate}, #{albaRecruitedTotalCount}, #{albaPhoneNumber}, #{albaImage}, #{memberNumber})
	</insert>
	
	<!-- 각 공고글 현 모집된 인원 조회 -->
	<select id="countApplyPerson" parameterType="_int" resultType="_int">
		select count(alba_number)  from tbl_member_alba where alba_number = 
		<if test="albaNumber != null">
	    	#{albaNumber}
	    </if>
	</select>
	
	<!-- 아르바이트 글 삭제 -->
	<delete id="delete" parameterType="_int"> 
		delete from tbl_alba where alba_number = #{albaNumber} 
	</delete>
	
	<!-- 아르바이트 글 수정 -->
	<update id="update" parameterType="albaVO">
		update tbl_alba
		set alba_name=#{albaName}, alba_location=#{albaLocation}, alba_start_date=#{albaStartDate}, alba_end_date=#{albaEndDate},
		alba_start_time=#{albaStartTime}, alba_end_time=#{albaEndTime}, alba_fee=#{albaFee}, 
		alba_apply_start_date=#{albaApplyStartDate}, alba_apply_end_date=#{albaApplyEndDate}, 
		alba_recruited_total_count=#{albaRecruitedTotalCount}, alba_phone_number=#{albaPhoneNumber}, alba_image=#{albaImage}
		where alba_number = #{albaNumber} ;
	</update>
	
   	<!-- 아르바이트 신청여부 확인 -->
	<select id="isApply" parameterType="map" resultType="_int">
		select count(member_number) from tbl_member_alba where member_number = #{memberNumber} and alba_number = #{albaNumber}	
	</select>
	
	
</mapper>