<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Community">
	<!-- 게시글 작성 -->
	<insert id="write" parameterType="communityVO">
		insert into tbl_community (community_title, community_content, member_number)
		values(#{communityTitle}, #{communityContent}, #{memberNumber})
	</insert>
	
	<!-- 게시글 전체 조회 -->
	<select id="selectAll" parameterType="map" resultType="communityDTO">
		select tc.community_number, tc.community_title, tm.member_id, tc.community_date, tc.community_view_count
		from tbl_community tc left join tbl_member tm
		on tc.member_number = tm.member_number
	</select>
	
	<!-- 게시글 전체 개수 확인 -->
	<select id="selectCnt" resultType="_int">
		select count(community_number) from tbl_community;
	</select>
	
	<!-- 가장 최신 게시글 번호 -->
	<select id="selectCurrentSequence" resultType="_int">
		select last_insert_id()
	</select>
</mapper>