<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberProgram">

	<!-- 프로그램 신청 -->
  <insert id="insert" parameterType="memberProgramVO">
		INSERT INTO tbl_member_program
		(member_name, member_gender, member_birth, member_phone_number, member_email, 
		member_reason, member_address, member_number, program_number)
		VALUES(#{memberName}, #{memberGender}, #{memberBirth}, #{memberPhoneNumber}, #{memberEmail}, 
		#{memberReason}, #{memberAddress}, #{memberNumber}, #{programNumber})
   </insert>
   

   
   	<!-- 프로그램 신청 삭제 -->
	<delete id="applyDelete" parameterType="map">
		delete from tbl_member_program where member_number = #{memberNumber} and program_number = #{programNumber}
	</delete>
</mapper>