<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">
	<select id="selectMyPage" parameterType="_int" resultType="memberVO">
		select member_name,member_grade,member_location
		from tbl_member mb join tbl_mentor mt
		on mb.member_phone_number = mt.mentor_phone_number and mb.member_number = #{memberNumber}
	</select>
	
	<update id="updateMyPage" parameterType="memberVO">
	
	</update>
</mapper>