<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyPage">
	<select id="selectMyPage" parameterType="_int" resultType="memberVO">
		select member_name,member_grade,member_location,member_id,member_phone_number
		from tbl_member mb join tbl_mentor mt
		on mb.member_number = mt.member_number
		where mb.member_number = #{memberNumber}
	</select>
	
	<update id="updateMyPage" parameterType="memberVO">
		update tbl_member
		set member_grade = #{memberGrade} , member_password = #{memberPassword} , member_phone_number = #{memberPhoneNumber} , member_email = #{memberEmail} , member_location = #{memberLocation}
		where member_number = #{memberNumber}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete from tbl_member
		where member_password = #{memberpassword}
	</delete>
	
	<select id="selectThreePrograms" parameterType="_int" resultType="programVO">
		select program_name,program_start_date from tbl_program tp join tbl_member_program tmp
		on tp.program_number = tmp.program_number
		where tmp.member_number = #{memberNumber}
		order by tp.program_start_date
		limit 1
	</select>
	<select id="selectThreeAlbas" parameterType="_int" resultType="albaVO">
		select alba_name,alba_start_date from tbl_alba ta join tbl_member_alba tma
		on ta.alba_number = tma.alba_number
		where tma.member_number = #{memberNumber}
		order by ta.alba_start_date
		limit 1
	</select>
</mapper>