<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
<!-- 공지사항 글 목록 가져오기(공지 관리) -->
	<select id="noticeListAll" resultType="NoticeVO">
		select notice_number, notice_title, notice_date, notice_view_count 
		from tbl_notice
		order by notice_number desc limit #{startRow}, #{rowCount}
	</select>
	
	<!-- 공지사항 글 수 -->
	<select id="noticeCount" resultType="_int">
		select count(notice_number) from tbl_notice
	</select>
</mapper>