<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>codeFarm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- index 관련 -->
   <servlet>
     <servlet-name>IndexFrontController</servlet-name>
     <servlet-class>com.farmer.app.index.IndexFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>IndexFrontController</servlet-name>
     <url-pattern>*.ix</url-pattern>
  </servlet-mapping>
  
  
  <!-- admin(관리자) 관련 -->
   <servlet>
     <servlet-name>AdminFrontController</servlet-name>
     <servlet-class>com.farmer.app.admin.AdminFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>AdminFrontController</servlet-name>
     <url-pattern>*.ad</url-pattern>
  </servlet-mapping>
  
  <!-- Member 관련 -->
   <servlet>
     <servlet-name>MemberFrontController</servlet-name>
     <servlet-class>com.farmer.app.member.MemberFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MemberFrontController</servlet-name>
     <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <!-- Mypage 관련 -->
   <servlet>
     <servlet-name>MypageFrontController</servlet-name>
     <servlet-class>com.farmer.app.mypage.MypageFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MypageFrontController</servlet-name>
     <url-pattern>*.my</url-pattern>
  </servlet-mapping>
  
  <!-- community 관련 -->
   <servlet>
     <servlet-name>CommunityFrontController</servlet-name>
     <servlet-class>com.farmer.app.community.CommunityFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>CommunityFrontController</servlet-name>
     <url-pattern>*.cm</url-pattern>
  </servlet-mapping>
  
  <!-- communityFile 관련 -->
   <servlet>
     <servlet-name>CommunityFileFrontController</servlet-name>
     <servlet-class>com.farmer.app.communityFile.CommunityFileFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>CommunityFileFrontController</servlet-name>
     <url-pattern>*.cmFile</url-pattern>
  </servlet-mapping>
  
  <!-- notice 관련 -->
   <servlet>
     <servlet-name>NoticeFrontController</servlet-name>
     <servlet-class>com.farmer.app.notice.NoticeFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>NoticeFrontController</servlet-name>
     <url-pattern>*.nt</url-pattern>
  </servlet-mapping>
  
  <!-- noticeFile 관련 -->
   <servlet>
     <servlet-name>NoticeFileFrontController</servlet-name>
     <servlet-class>com.farmer.app.noticeFile.NoticeFileFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>NoticeFileFrontController</servlet-name>
     <url-pattern>*.ntFile</url-pattern>
  </servlet-mapping>
  
  <!-- mentor 관련 -->
   <servlet>
     <servlet-name>MentorFrontController</servlet-name>
     <servlet-class>com.farmer.app.mentor.MentorFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MentorFrontController</servlet-name>
     <url-pattern>*.mt</url-pattern>
  </servlet-mapping>
  
   <!-- Program 관련 -->
   <servlet>
     <servlet-name>ProgramFrontController</servlet-name>
     <servlet-class>com.farmer.app.program.ProgramFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>ProgramFrontController</servlet-name>
     <url-pattern>*.pg</url-pattern>
  </servlet-mapping>
  
  <!-- memberProgram 관련 -->
   <servlet>
     <servlet-name>MemberProgramFrontController</servlet-name>
     <servlet-class>com.farmer.app.memberProgram.MemberProgramFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MemberProgramFrontController</servlet-name>
     <url-pattern>*.mp</url-pattern>
  </servlet-mapping>
  
   <!-- Alba 관련 -->
   <servlet>
     <servlet-name>AlbaFrontController</servlet-name>
     <servlet-class>com.farmer.app.alba.AlbaFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>AlbaFrontController</servlet-name>
     <url-pattern>*.ab</url-pattern>
  </servlet-mapping>
  
  <!-- memberAlba 관련 -->
   <servlet>
     <servlet-name>MemberAlbaFrontController</servlet-name>
     <servlet-class>com.farmer.app.memberAlba.MemberAlbaFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>MemberAlbaFrontController</servlet-name>
     <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  
  <!-- cropsInfo 관련 -->
   <servlet>
     <servlet-name>CropsInfoFrontController</servlet-name>
     <servlet-class>com.farmer.app.cropsInfo.CropsInfoFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>CropsInfoFrontController</servlet-name>
     <url-pattern>*.ci</url-pattern>
  </servlet-mapping>
  
   <!-- localSpeciality 관련 -->
   <servlet>
     <servlet-name>LocalSpecialityFrontController</servlet-name>
     <servlet-class>com.farmer.app.localSpeciality.LocalSpecialityFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>LocalSpecialityFrontController</servlet-name>
     <url-pattern>*.ls</url-pattern>
  </servlet-mapping>
  
  <!-- 댓글 등록 관련 -->
   <servlet>
     <servlet-name>ReplyFrontController</servlet-name>
     <servlet-class>com.farmer.app.reply.ReplyFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>ReplyFrontController</servlet-name>
     <url-pattern>*.re</url-pattern>
  </servlet-mapping>
  
  <!-- 정책 페이지 관련 -->
   <servlet>
     <servlet-name>PolicyFrontController</servlet-name>
     <servlet-class>com.farmer.app.policy.PolicyFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>PolicyFrontController</servlet-name>
     <url-pattern>*.po</url-pattern>
  </servlet-mapping>
  
  <!-- 계절별 수확 시기 페이지 관련 -->
   <servlet>
     <servlet-name>SeasonCropsFrontController</servlet-name>
     <servlet-class>com.farmer.app.seasonCrops.SeasonCropsFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>SeasonCropsFrontController</servlet-name>
     <url-pattern>*.sc</url-pattern>
  </servlet-mapping>
  
  <!-- 지역정보 페이지 관련 -->
   <servlet>
     <servlet-name>RegionFrontController</servlet-name>
     <servlet-class>com.farmer.app.region.RegionFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>RegionFrontController</servlet-name>
     <url-pattern>*.rg</url-pattern>
  </servlet-mapping>
  
  <!-- 테스트 페이지 관련 -->
   <servlet>
     <servlet-name>TestFrontController</servlet-name>
     <servlet-class>com.farmer.app.test.TestFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>TestFrontController</servlet-name>
     <url-pattern>*.te</url-pattern>
  </servlet-mapping>
</web-app>